<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PKR FARMS</title>  
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<link rel="shortcut icon" href="/images/logo.jpg" type="image/x-icon">
<body>
 <nav class="w-screen h-20 bg-white  flex shadow-lg shadow-gray-500/50">
  <div class="flex ml-20">  <img src="/images/9-2-agriculture-png-image (1).png" alt="" srcset="" class="h-20">
   <h1 class=" text-3xl font-bold mt-4 ml-1 text-gray-300 hover:text-gray-700 ease-in duration-300">PKR FRAMS</h1>
   </div>
   <a href="#">
   <div class="flex ml-56 mt-5"> <ul class="flex gap-10"><li class="text-gray-700 hover:text-orange-500 ease-in duration-300">Home</li></a>
  <a href="#"><li class="text-gray-700 hover:text-orange-500 ease-in duration-300">Products</li></a>
  <a href="#"> <li class="text-gray-700 hover:text-orange-500 ease-in duration-300">Blog</li></a>
  <a href="about"> <li class="text-gray-700 hover:text-orange-500 ease-in duration-300"> About Us</li></a>
  <a href="/join">
    <li class="flex items-center bg-green-400 px-2 hover:text-white ease-in duration-300">
     <h2 id="myButton">JOIN <i class="fa-solid fa-arrow-up-short-wide"></i></h2>
    </li></a>

</div>
 </nav>
<section id="hero-section" class=" w-screen  h-auto  mt-6">
<video src="/images/video-bg.mp4" autoplay muted loop  id="video" class="relative"></video>
<h1 class="text-6xl font-bold absolute top-96 left-20 tracking-tighter text-green-600 ">Rooted in Tradition, Growing with Innovation</h1>
</section>
<div class=" w-auto h-64 px-5 flex gap-10 mt-0 ml-32">
  <img src="images/padyrice.jpg" alt="" srcset="" class=" rounded h-52 mt-2">
  <img src="images/coconut.jpg" alt="" srcset="" class=" rounded h-52 mt-2">
  <img src="images/mango.jpg" alt="" srcset="" class=" rounded h-52 mt-2">
</div>
<div class="mt-2">
  <h1 class="text-black text-4xl ml-48 font-bold">Unleashing Farmer Power: Direct Digital Market Access</h1>
</div>
<div class="w-auto h-96 shadow-lg flex p-5 shadow-red-50">
  <div class=" w-screen  "><h5 class="text-lg"> our mission is simple yet profound: empower farmers by linking them directly to the vast online marketplace. We cut out the middlemen, ensuring farmers receive fair compensation for their hard-earned harvests. Leveraging the power of e-commerce, we break down geographical barriers, allowing farmers to reach customers globally. Our intuitive platform streamlines the selling process, freeing farmers to focus on their true passion—cultivating the land. Join us in reshaping agriculture, one sale at a time.</h5>
    <div>
      <p class="bg-gray-100 px-2 py-1 ">
        <span class="text-green-500"># &nbsp;</span>Farming Empowerment
        <span class="text-green-500">#&nbsp;</span>डिजिटल फसल
      </p>
      <p class="bg-gray-100 px-2 py-1">
        <span class="text-green-500">#&nbsp;</span>డిజిటల్ వ్యవసాయ ప్రభాతం
        <span class="text-green-500">#&nbsp;</span>Agri Evolution
      </p>
    </div>
    <h2 class="text-3xl mt-2 ml-3 underline text-gray-700">Lets Collabrate With Us</h2>
    <form action="" id="emailForm" class="relative">
      <input type="email" id="emailInput" placeholder="Enter your E-mail" class="w-64 p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-gray-500 mt-5">
      <button type="submit" class="bg-gray-300 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-2">Submit</button>
      <div id="message" class="hidden text-green-500 top-20 absolute bottom-0 left-0 right-0 mx-auto">Thanks for participating!</div>
    </form>
    </div>
<div class=" w-screen h-96 flex">
     <div class="w-96 h-96 rounded-full bg-black ml-40 relative ">
    <img src="/images/ecomm.png" alt="" class="object-cover rounded-full w-auto h-96 bg-white overflow-hidden">
</div>
  <div class="w-96 h-96 rounded-full bg-white ml-0 absolute overflow-hidden">
    <img src="/images/crop1.jpg" alt="" class="object-cover rounded-full w-96 h-96  overflow-hidden">
  </div>
  </div></div>
  <div class="mt-10">
    <h1 class="text-black text-4xl ml-48 font-bold">Bridging the Gap Between Agriculture and E-Commerce</h1>
  </div>
  <section id="mid-page" class="w-screen h-auto mt-2 flex">
   
  <div class=" w-screen h-96 flex mt-10">
       <div class="w-96 h-96 rounded-full bg-black ml-40 relative ">
      <img src="/images/delivery-veg.jpg" alt="" class=" object-cover rounded-full w-96 h-96 bg-white overflow-hidden">
  </div>
    <div class="w-96 h-96 rounded-full bg-white ml-0 absolute overflow-hidden">
      <img src="/images/istockphoto-1151871288-612x612.jpg" alt="" class="object-cover rounded-full w-96 h-96  overflow-hidden">
    </div>
    </div>
  
    <div class=" w-screen mr-24 "><h5 class="text-lg mt-10 text-gray-500"> 

    <span  class="text-1xl text-black font-semibold">*Platform Redefinition: </span>We redefine agriculture by establishing direct connections between farmers and e-commerce platforms.
   <br> <span  class="text-1xl text-black font-semibold">*Empowerment Mission: </span>Our goal is clear: to empower farmers to expand their market reach and boost their income, all while providing consumers with fresh, locally sourced products.
   <br> <span  class="text-1xl text-black font-semibold">*Ease of Use: </span>hrough our platform, farmers can effortlessly showcase their produce online, connecting with consumers who prioritize quality, sustainability, and supporting local communities.
    <br><span  class="text-1xl text-black font-semibold">*Cutting Out Middlemen:</span>
    By eliminating intermediaries and streamlining the supply chain, we facilitate a more efficient, transparent, and mutually beneficial relationship between farmers and consumers.
    <br><span  class="text-1xl text-black font-semibold">*Building Resilience: </span>
    Together, let's forge a more resilient and sustainable future for agriculture, one that benefits both farmers and consumers alike.
    </h5>
     </div>
  </section>

  <section id="welcome" class="w-screen h-auto mt-20">
    <h1 class="text-center text-4xl text-black font-bold">Welcome to <span class="text-green-600">PKR Farms</span></h1>
    <div class="flex justify-center items-center mt-8">
      <div class="flex flex-col items-center mr-8">
        <img src="/images/villages.webp" alt="Experience" class="w-24 h-24">
        <h2 class="text-lg font-semibold mt-2">15+</h2>
        <p class="text-sm text-center">Villages covered</p>
      </div>
      <div class="flex flex-col items-center mr-8">
        <img src="/images/exp.webp" alt="Experience" class="w-24 h-24">
        <h2 class="text-lg font-semibold mt-2">12+</h2>
        <p class="text-sm text-center">Experience</p>
      </div>
      <div class="flex flex-col items-center mr-8">
        <img src="/images/land.webp" alt="Experience" class="w-24 h-24">
        <h2 class="text-lg font-semibold mt-2">1500+</h2>
        <p class="text-sm text-center">Acres of land</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="/images/members.webp" alt="Experience" class="w-24 h-24">
        <h2 class="text-lg font-semibold mt-2">1000+</h2>
        <p class="text-sm text-center">Registered farmers</p>
      </div>
    </div>
  </section>
  <div class="container mx-auto px-4 py-8" >
        <h1 class="text-3xl font-bold mb-4">Products</h1>
        <div id="productContainer" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
          
        </div>
      <a href="product">  <button id="showButton" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-4 mr-40">
          Show Now
      </button></a>
    </div>
    
 
  <footer class="w-screen h-auto mt-0">
    <div class="h-14 w-screen bg-green-400 text-white flex items-center justify-between px-10"> <h1 class="text-1xl">Get Connected With us on social network</h1>
    <h1> <ul class="flex gap-5">
  <a href="#"><li></li><i class="fa-brands fa-instagram"></i></a>
  <a href="#"><li></li><i class="fa-brands fa-x-twitter"></i></a>
  <a href="#"><li></li><i class="fa-brands fa-facebook"></i></a>
  <a href="#"><li></li><i class="fa-brands fa-linkedin"></i></a>
  </ul></h1></div>
    <div class="h-56 w-screen bg-white">
      <footer class="bg-white text-black py-12">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 px-4">
            <!-- Company -->
            <div>
                <h3 class="text-lg font-semibold mb-4">PKR FARMS AND INDUSTRY</h3>
                <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales sapien ac augue pretium, ac placerat orci tincidunt.</p>
            </div>
            <div>
                <h3 class="text-lg font-semibold mb-4">Products</h3>
                <ul class="text-sm text-gray-500">
                    <li>PaddyRice</li>
                    <li>Mango Farm</li>
                    <li>Vegetables</li>
                </ul>
            </div>

            <div>
                <h3 class="text-lg font-semibold mb-4">Contact</h3>
                <p class="text-sm text-gray-500">123 Main Street<br>City, State, 12345<br>Email: info@example.com<br>Phone: (123) 456-7890</p>
            </div>
        </div>
    </footer>
    <div class="h-10 w-screen bg-blue-200">
      <h2 class="flex items-center justify-center text-green-900 text-2xl mt-2 font-bold"> &copy; 2024 PKRFARM.COM, All rights reserved.</h2>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="/javascript/index.js"></script>
<script src="/javascript/server.js"></script>
</body>
</html>