<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PKR FARMS</title>  
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<link rel="shortcut icon" href="/images/logo.jpg" type="image/x-icon">
<body>
 <nav class="w-screen h-20 bg-white  flex shadow-lg shadow-gray-500/50">
  <div class="flex ml-20">  <img src="/images/9-2-agriculture-png-image (1).png" alt="" srcset="" class="h-20">
   <h1 class=" text-3xl font-bold mt-4 ml-1 text-gray-300 hover:text-gray-700 ease-in duration-300">PKR FRAMS</h1>
   </div>
   <a href="#">
   <div class="flex ml-56 mt-5"> <ul class="flex gap-10"><li class="text-gray-700 hover:text-orange-500 ease-in duration-300">Home</li></a>
  <a href="#"><li class="text-gray-700 hover:text-orange-500 ease-in duration-300">Products</li></a>
  <a href="#"> <li class="text-gray-700 hover:text-orange-500 ease-in duration-300">Blog</li></a>
  <a href="about"> <li class="text-red-700 hover:text-orange-500 ease-in duration-300"> About Us</li></a>
  <a href="/join">
    <li class="flex items-center bg-green-400 px-2 hover:text-white ease-in duration-300">
     <h2 id="myButton">JOIN <i class="fa-solid fa-arrow-up-short-wide"></i></h2>
    </li></a>
</div>
 </nav>

 <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4"> All Products</h1>
    <div id="productContainer" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      
  
    </div>
 </div>
 <h3 class="text-2xl text-gray-500 text-center">WE ARE WORKING TO PRODUCE MORE PRODUCTS IN ONLINE-STORE</h3>
 <footer class="w-screen h-auto mt-0">
    <div class="h-14 w-screen bg-green-400 text-white flex items-center justify-between px-10"> <h1 class="text-1xl">Get Connected With us on social network</h1>
    <h1> <ul class="flex gap-5">
  <a href="#"><li></li><i class="fa-brands fa-instagram"></i></a>
  <a href="#"><li></li><i class="fa-brands fa-x-twitter"></i></a>
  <a href="#"><li></li><i class="fa-brands fa-facebook"></i></a>
  <a href="#"><li></li><i class="fa-brands fa-linkedin"></i></a>
  </ul></h1></div>
    <div class="h-56 w-screen bg-white">
      <footer class="bg-white text-black py-12">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 px-4">
            <!-- Company -->
            <div>
                <h3 class="text-lg font-semibold mb-4">PKR FARMS AND INDUSTRY</h3>
                <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales sapien ac augue pretium, ac placerat orci tincidunt.</p>
            </div>
            <div>
                <h3 class="text-lg font-semibold mb-4">Products</h3>
                <ul class="text-sm text-gray-500">
                    <li>PaddyRice</li>
                    <li>Mango Farm</li>
                    <li>Vegetables</li>
                </ul>
            </div>

            <div>
                <h3 class="text-lg font-semibold mb-4">Contact</h3>
                <p class="text-sm text-gray-500">123 Main Street<br>City, State, 12345<br>Email: info@example.com<br>Phone: (123) 456-7890</p>
            </div>
        </div>
    </footer>
    <div class="h-10 w-screen bg-blue-200">
      <h2 class="flex items-center justify-center text-green-900 text-2xl mt-2 font-bold"> &copy; 2024 PKRFARM.COM, All rights reserved.</h2>
    </div>
  </footer>
<script src="/javascript/produts.js"></script>
</body>
</html>